.inventoryItem {
	display: table;
	float: center;
	height: 70px;
	width: 100%;
}

.productName {
	width: 85%;
	height: 70px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 20px;
}

.stockAmount {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
