form {
	position: absolute;
	bottom: 70px;
	text-align: center;
	width: 100%;
}

input {
	height: 50px;
}

.scanner {
	margin: 20px;
	width: 350px;
}

.inputRow {
	margin-bottom: 10px;
}

.inputColumn1 {
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	width: 90px;
}

.transSubmit {
    width: 125px;
    height: 50px;
    margin: 10px;
}
